@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:  Panchang-Semibold ;
  src: url('./fonts/Panchang-Semibold.otf');
}

@font-face {
  font-family:  Glusp ;
  src: url('./fonts/OTF®.ttf');
}

@font-face {
  font-family:  Humane ;
  src: url('./fonts/Humane.ttf');
}

@font-face {
  font-family:  Unique-SemiBold ;
  src: url('./fonts/Unique-SemiBold.ttf');
}

body {
  @apply bg-[#111606] overflow-x-hidden text-[#b1dd40];
}